#map { 
    height: 600px; 
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px hotpink;
}
h1 {
    color: hotpink;
    font-family: 'lemon', sans-serif;
    background-color:white;
    height: 40px; 
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-shadow: 0 0 5px hotpink;

}
h2{
    color: hotpink;
    font-family: 'lemon', sans-serif;
}
h3{
    color: hotpink;
    font-family: 'lemon', sans-serif;
    background-color:white;
    height: 40px; 
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-shadow: 0 0 5px hotpink;
}
